pkgbase = ensembl-cli
	pkgdesc = Self-documenting command line client for the Ensembl REST API
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/decent-tools-for-thought/ensembl-cli
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	source = ensembl-cli-0.1.1.tar.gz::https://github.com/decent-tools-for-thought/ensembl-cli/releases/download/v0.1.1/ensembl-cli-0.1.1.tar.gz
	sha256sums = bb75c946748261da11bf2833ea617fbd6dd1d7f3f62b8505d50f2d10a5ab6753

pkgname = ensembl-cli
