pkgbase = ensembl-cli
	pkgdesc = Self-documenting command line client for the Ensembl REST API
	pkgver = 0.1.2
	pkgrel = 1
	url = https://github.com/decent-tools-for-thought/ensembl-cli
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	source = ensembl-cli-0.1.2.tar.gz::https://github.com/decent-tools-for-thought/ensembl-cli/releases/download/v0.1.2/ensembl-cli-0.1.2.tar.gz
	sha256sums = 8a26fd1fe57f92925621896c340ad86ed47a50bb2d2ff9466661d4f6c173546e

pkgname = ensembl-cli
